<div id="mydiv">
    <div id="inside" style="background: white; border-radius: 5px; padding: 10px" >
    <div><img src="../s/static/images/loading.gif"/><span>&nbsp;{{ 'LOADING' | translate }}...</span></div>
    </div>
</div>
