<p id="Title"><span id="NameOfDevice">{{ data.type }}</span><span id="TypeOfDevice"></span><span style="clear:both"></span></p>
<ul class="list">
    <li class="bullet">
        <span class="key">{{ 'NAME' | translate }}</span>
        <span class="value">{{ data.type }}</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet-odd">
        <span class="key">{{ 'SERIAL_NUMBER' | translate }}</span>
        <span class="value">{{ data.serialNumber }}</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet">
        <span class="key">{{ 'PRODUCT_NUMBER' | translate }}</span>
        <span class="value">-</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet-odd">
        <span class="key">{{ 'MAC_ADDRESS' | translate }}</span>
        <span class="value">{{ data.macAddress }}</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet">
        <span class="key">{{ 'SUPPLY' | translate }}</span>
        <span class="value">{{ data.supply }}</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet-odd">
        <span class="key">{{ 'POWER' | translate }}</span>
        <span class="value">{{ data.power }}</span>
        <span class="cleaner"></span>
    </li>

    <li class="bullet">
        <span class="key">{{ 'OS' | translate }}</span>
        <span class="value">{{ data.firmware }}</span>
        <span class="cleaner"></span>
    </li>
    <li class="bullet-odd">
        <span class="key">{{ 'HARDWARE' | translate }}</span>
        <span class="value">{{ data.hardware }}</span>
        <span class="cleaner"></span>
    </li>
</ul>
<a id="Sheet" ng-click="PdfRelocation()" target="_blank" ng-show="data.linkPDF">
    <span id="SheetTitle">{{ 'PDF' | translate }}</span>
    <img src="/s/static/images/sheet.svg" id="SheetImg"/>
</a>
<div style="clear:both;"></div>
