doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        script(src='../s/static/javascripts/angular.min.js')
        script(src='../s/static/javascripts/angular-ui-router.min.js')
        script(src='../s/static/javascripts/angular-translate.min.js')
        title= title
    style
        include ../public/stylesheets/style.css
    body
        div(id="Content")
            div(id="Main")
                h2(id="MainTitle")=Title
                h4(id="SubTitle")=Subtitle
                img(src="/s/static/images/logo.svg" class="logo_image")
                div(id='ImgMarginer')
                div(class='cleaner')
            div(class="wrapper")
                div(class='container')
                    input(class="textBox" id="Query" type="text" placeholder=Search maxlength="30" onkeypress="handle(event)" required)
                    img(id="Search" src="/s/static/images/search.svg")
                    div(class='cleaner')
                div(class='cleaner')
            block content
            div(class='cleaner')
            section(class='huge')

    script(type='text/javascript').
        var search = document.getElementById("Search");
        search.onclick = startSearch;
        function handle(e) {
            if (e.keyCode === 13) {
                startSearch();
            }
            return false;
        }
        function startSearch() {
            n = document.getElementById('Query').value;
            if(!isNaN(parseFloat(n)) && isFinite(n)) {
                location.href = "/s/"+n;
            }
        }
