doctype html
html
 head
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    script(src='../s/static/javascripts/angular.min.js')
    script(src='../s/static/javascripts/angular-ui-router.min.js')
    script(src='../s/static/javascripts/angular-translate.min.js')
    title= title
 style
    include ../public/stylesheets/style.css
 body(ng-app='ClientApp',ng-controller='HomeCtrl')
  div(id="Content")
   div(id="Main")
    h2(id="MainTitle")=Title
    h4(id="SubTitle")=Subtitle
    img(src="/s/static/images/logo.svg" class="logo_image")
    div(id='ImgMarginer')
    div(class='cleaner')
   div(class="wrapper")
     div(class='container')
      input(class="textBox" id="Query" type="text" placeholder=Search maxlength="30" onkeypress="handle(event)" required)
      img(id="Search" src="/s/static/images/search.svg")
      div(class='cleaner')
     div(class='cleaner')
   block content
   div(class='cleaner')
   div(ng-hide='true')
      div(id='NAME',style="display: none;")=Name
      div(id='SERIAL_NUMBER',style="display: none;")=SerialNumber
      div(id='PRODUCT_NUMBER',style="display: none;")=ProductNumber
      div(id='MAC_ADDRESS',style="display: none;")=MACAddress
      div(id='SUPPLY',style="display: none;")=Supply
      div(id='POWER',style="display: none;")=Power
      div(id='FIRMWARE',style="display: none;")=Firmware
      div(id='OS',style="display: none;")=OS
      div(id='HARDWARE',style="display: none;")=Hardware
      div(id='PDF',style="display: none;")=PDF
      div(id='LOADING',style="display: none;")=Loading
   section(ui-view)
   script(type='text/javascript').
      document.getElementById("Search").onclick = function () {
          n = document.getElementById('Query').value;
          if(!isNaN(parseFloat(n)) && isFinite(n)){
              location.href = '/s/' + n;
          }
      };
      function handle(e) {
         if (e.keyCode === 13) {
            document.getElementById("Search").click();
         }
         return false;
      }
   
   script(src='../s/static/modules/app.js')
   script(src='../s/static/modules/router.js')
   script(src='../s/static/modules/localisation.js')
