body {
  font: 1.1em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #7b99a9;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
#mydiv {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .8;
}
#inside {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}
#Content{
  background: white;
  margin: 0 7em;
}

.logo_image {
  float: right;
  height: 3em;
}
/*---------------------------------------*/
/*Heading design*/
#Main{
  background: url('../../s/static/images/background.svg');
  background-size: cover;
  padding: 0em 3em;
}
#MainTitle{
  color: white;
  font-size: 3em;
  font-weight: 100;
  padding: 0.5em 0 0 0;
  margin: 0 0 0 0;
}
#SubTitle{
  color: #2B72C1;
  font-size: 2em;
  font-weight: 100;
  margin: 0 0 0 0;
}
#ImgMarginer{
  clear: both;
  margin-bottom: 2em;
}
/*-------------------------*/
/* Loading */
#Loading{
  position: fixed;
  background: url('../../s/static/images/loading.gif') no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hide{
  display: none;
}
/*-----------------------------*/
/* Technic Specification*/
.container{
  display: flex;
  float: right;
  margin: -0.5em 1em;
}
.wrapper{
  clear: both;
  display: block;
  float: left;
  width: 100%;
  background: #090933;
}
#Title{
  display: flex;
  color: white;
  background: #4DC2FF;
  font-size: 2em;
  margin: 0;
  padding: 0.5em;
}
#TypeOfDevice{
  display: block;
  margin-left: auto;
  float: right;
  font-size: 14px;
  margin-top: 1em;
}
#Query{
  background: #090933;
  color: white;
  width: 15em;
  height: 2em;
  padding: 0 0 0 0.25em;
  font-size:24px;
  margin: 0.75em 0.25em;
}
#Search{
  padding: 0.5em;
  margin: 1em 0.25em;
  height: 2em;
  background: #4DC2FF;
  border: #4DC2FF;
  cursor: pointer;
}
/*List specifications*/
.huge{
  background: #EAF4FC;
  height: 300px
}
.list{
  list-style: square inside ;
  width: 50%;
  font-size: 27px;
  padding: 0 0 0 0;
  float:left;
}
.bullet{
  background-color: #EAF4FC;
  padding: 0em 0.5em;
  color:#2B72C1;
}
.bullet-odd{
  padding: 0em 0.5em;
  color:#2B72C1;
}
.key{
  padding: 0.5em 0;
  color: black;
  font-size: 16px;
}
.value{
  padding: 0.42em 0;
  float: right;
  color:#0F4C90;
  font-size: 14px;
}
.cleaner{
  clear: both;
}
#SheetTitle{
  padding: 0.5em;
  color: #0F4C90;
}
#Sheet{
  display: flex;
  float: right;
  margin: 2em 5em 2em 1em;
}

#Sheet img {
  height: 2em;
}

@media screen and (max-width: 1000px) {
  #Content {
    margin: 0;
  }
  #Sheet{
    margin-right: 2.5em;
  }
}
@media screen and (max-width: 700px) {
  .list{
    width: 90%;
  }
  #Sheet{
    float: left;
  }
  #Main{
    padding: 0.5em;
  }
  #MainTitle{
    font-size: 2.25em;
  }
  #SubTitle {
    font-size: 1.5em;
  }
  #Sheet{
    margin-left: 2em;
  }
}
@media screen and (max-width: 520px) {
  #Query{
    width: 90%;
    margin: 0.75em 0;
  }
  #MainTitle{
    font-size: 1.75em;
  }
  #SubTitle{
    font-size: 1.25em;
  }
  #NameOfDevice{
    font-size: .75em;
  }
  #TypeOfDevice{
    margin-top: 0.75em;
    font-size: 0.3em;
  }
  .list{
    width: 98%;
    margin-left: 1%;
  }
  .key{
    padding: 0.5em 0.5em 0.5em 0;
    margin-top: 0.25em;
  }
  .bullet{
    padding: 0 0.3em}
  .bullet-odd{padding: 0 0.3em}
}
@media screen and (max-width: 420px) {
  #Query{
    font-size: 20px;
    margin: 1.25em 0;
  }
  #Main{
    background: url('../../s/static/images/background-small.svg');
  }
  #ImgMarginer{
    margin-bottom: 0.25em;
  }
  #Search{
    margin: 1.4em 0.25em;
    padding: 0.27em
  }
  .key{
    font-size: 14px;
    padding-bottom: 1em;
  }
  .value{
    padding-bottom: 0;
    margin-top: 0.25em;
  }
}
@media screen and (max-width: 360px) {
  #Query{
    font-size: 16px;
    margin: 1.75em 0;
  }
  #Search{
    height: 1.5em;
    padding:0.25em;
    margin: 1.57em 0.5em;
  }
  #NameOfDevice{
    font-size: .55em;
  }
  #TypeOfDevice{
    margin-top: 0.75em;
    font-size: 0.3em;
  }
  .key{
    font-size: 12px;

  }
  .value{
    font-size: 12px;
    margin-top: 0.5em;
  }
  #Sheet{
    margin: 0.5em;
  }
  .container{
    height: 5em;
  }
}
